.teams{
    background-image: url('../../images/Illustration/Group\ 46@2x.png');
    background-size: cover;
    background-position: top;
}
.team{
    box-shadow: 0px 0px 10px 5px #e1fffa;
}
.team button{
    background-image: linear-gradient(60deg, #0df1cb, #0090b4);
    padding: 20px 55px;
    color: white;
    font-size: 23px;
    border: none;
    border-radius: 40px 0px;
}
.team hr{
    background-color: #4FD1CB;
}
.team:hover{
    border: 2px solid #21E3AC;
}